global
    log stdout format raw local0
    maxconn 16384

defaults
    mode http
    log global
    option httplog
    timeout connect 2s
    timeout client 30s
    timeout server 30s
    timeout http-keep-alive 5s

frontend fe_main
    bind :9999 v4v6 backlog 4096
    http-request set-header X-Req-Id %[uuid()]
    http-request capture req.hdr(X-Req-Id) len 96
    log-format "req_id=%[capture.req.hdr(0)] be=%b srv=%s st=%ST Tq=%Tq Tw=%Tw Tc=%Tc Tr=%Tr Tt=%Tt method=%HM path=%HP"
    default_backend be_fraud_api

backend be_fraud_api
    balance leastconn
    option http-keep-alive
    server api1 /tmp/rinha/api-1.sock maxconn 4096
    server api2 /tmp/rinha/api-2.sock maxconn 4096
