global
    log stdout format raw local0
    maxconn 4096

defaults
    mode http
    log global
    option httplog
    timeout connect 2s
    timeout client 30s
    timeout server 30s

frontend fe_main
    bind :9999 v4v6
    default_backend be_fraud_api

backend be_fraud_api
    balance roundrobin
    server api1 /tmp/rinha/api-1.sock
    server api2 /tmp/rinha/api-2.sock
